@import "@angular/material/prebuilt-themes/deeppurple-amber.css";      
@import   "assets/scss/general",
          "assets/scss/var-mixins",
  
          "assets/css/flexboxgrid.min.css";

html { height: 100% }
body { margin: 0; background-color: #f4f4f4; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
